@use "../../styles/foundation/" as *;
/* =======================================
 * 熊日すぱいす ROOTS RootsOutlineCtaLink スタイル
 * URL: /src/components/roots/RootsOutlineCtaLink.module.scss
 * Referenced in: /src/components/roots/RootsOutlineCtaLink.tsx
 * Created: 2026-05-02
 * Last updated: 2026-05-28
 * ======================================= */
.onlineProductLink {
    display: block;
    border-radius: 5px;
    color: $main-red;
    text-align: center;
    line-height: 1.8em;
    letter-spacing: 0.02em;
    font-size: fs-fluid(14);
    border: 1px solid;
    padding-block: 0.7em;
    @include up-tb {
        width: 100%;
        max-width: 54rem;
        align-self: center;
    }
}
