@use "../../styles/foundation/" as *;
/* =======================================
 * 熊日すぱいす ROOTS RootsInfoSection スタイル
 * URL: /src/components/roots/RootsInfoSection.module.scss
 * Referenced in: /src/components/roots/RootsInfoSection.tsx
 * Created: 2026-05-02
 * Last updated: 2026-05-28
 * ======================================= */
.rootsInfoSection {
    display: flex;
    flex-direction: column;
    color: $main-blown;
    padding: 6em $mobile-padding 4em;
    @include up-tb {
        align-items: center;
        padding: 0 2em;
        background-color: #eaeaea;
        margin-top: 5rem;
    }
    article {
        background-color: #eaeaea;
        padding-top: 4em;
        padding-bottom: 6em;
        padding-inline: 2em;
        border-radius: 1rem;
        @include up-tb {
            max-width: 80rem;
            background-color: transparent;
            border-radius: unset;
            padding-inline: 0;
        }
        .itemH2 {
            @include item-h2;
        }
        dl {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: inherit;
            gap: 2em 0;
            margin-top: 3em;
            @include up-tb {
                flex-direction: row;
                gap: 0 5em;
            }
            .itemWrap {
                font-size: inherit;
                display: contents;
                @include up-tb {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem 0;
                }
            }
            div {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                gap: 0.5em 0;
                dt {
                    font-size: fs-fluid(14);
                    font-weight: 700;
                    @include up-tb {
                        font-size: fz(16);
                    }
                }
                dd {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: fs-fluid(14);
                        line-height: 1.6em;
                        @include up-tb {
                            font-size: fz(16);
                        }
                    }
                    .linkMap {
                        background-color: #b2aba1;
                        color: $pure-white;
                        align-self: flex-start;
                        font-size: fs-fluid(16);
                        padding: 0.7em 3em;
                        border-radius: 100vmax;
                        margin-top: 0.5em;
                        @include up-tb {
                            width: 100%;
                            text-align: center;
                            padding-block: 1em;
                        }
                    }
                }
            }
        }
    }
}
