@use "../../styles/foundation/" as *;
/* =======================================
 * 熊日すぱいす ROOTS RootsEventSection スタイル
 * URL: /src/components/roots/RootsEventSection.module.scss
 * Referenced in: /src/components/roots/RootsEventSection.tsx
 * Created: 2026-05-02
 * Last updated: 2026-05-05
 * ======================================= */
.rootsEventSection {
    display: flex;
    flex-direction: column;
    color: $main-blown;
    padding: 0 $mobile-padding 4em;
    @include up-tb {
        padding-inline: 2em;
        align-items: center;
        padding-top: 3em;
    }
    .itemH2 {
        @include item-h2;
    }
    .boxContents {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        border: 2px solid;
        color: $main-red;
        padding: 2em 1em;
        margin-top: 2em;
        @include up-tb {
            max-width: $article-max-width;
            display: grid;
            grid-template-columns: auto 1fr;
            padding: 2em;
            margin-top: 3em;
            width: 100%;
        }
        h3 {
            font-size: fs-fluid(24);
            @include up-tb {
                grid-column: span 2;
            }
        }
        img {
            aspect-ratio: 1;
            object-fit: cover;
            font-size: inherit;
            margin-top: 0.8em;
            @include up-tb {
                max-width: 33rem;
            }
        }
        .wrapDetails {
            position: relative;
            font-size: inherit;
            padding-inline: 1em;
            h4 {
                font-size: fs-fluid(18);
                font-weight: 500;
                margin-top: 2em;
            }
            .itemText {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                p {
                    font-size: fs-fluid(16);
                    line-height: 2em;
                }
            }
        }
    }
}
