@use "../../styles/foundation/" as *;
/* =======================================
 * 熊日すぱいす ROOTS RootsStorySectionList スタイル
 * URL: /src/components/roots/RootsStorySectionList.module.scss
 * Referenced in: /src/components/roots/RootsStorySectionList.tsx
 * Created: 2026-05-02
 * Last updated: 2026-05-05
 * ======================================= */
.rootsStorySectionList {
    position: relative;
    margin-top: 7em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    article {
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 3.4rem);
            height: calc(100% + (3.4rem * 2));
            translate: -50% -50%;
            border-radius: 50vw;
            background-color: #d9d1c7;
            z-index: 0;
            @include up-tb {
                border-radius: 32rem;
            }
        }
        .listStory {
            position: relative;
            z-index: 1;
            li {
                position: relative;
                color: $main-blown;
                display: flex;
                flex-direction: column;
                border-radius: 50vw;
                border: 1px dashed #9b9084;
                padding-inline: $mobile-padding;
                font-size: inherit;
                padding-bottom: 12em;
                @include up-tb {
                    border-radius: 32rem;
                }
                .innerLi {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    @include up-tb {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 0 4rem;
                    }
                }
                .no {
                    align-self: center;
                    font-size: fs-fluid(24);
                    @include serif;
                    font-weight: 600;
                    @include up-tb {
                        grid-column: span 2;
                        display: flex;
                        justify-content: center;
                        font-size: fz(36);
                        margin-bottom: 4rem;
                    }
                }
                img {
                    border-radius: 1rem;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 33/22;
                    object-fit: cover;
                    margin-top: 4rem;
                    @include up-tb {
                        margin-top: unset;
                    }
                }
                .wrapText {
                    font-size: inherit;
                    display: contents;
                    @include up-tb {
                        display: flex;
                        flex-direction: column;
                        gap: 1em 0;
                    }
                    @include up-tbw {
                        padding-top: 3rem;
                    }
                    h3 {
                        font-size: inherit;
                        margin-top: 1.6em;
                        @include up-tb {
                            margin-top: unset;
                        }
                        span {
                            font-size: fs-fluid(24);
                            @include serif;
                            font-weight: 600;
                            line-height: 1.3em;
                            letter-spacing: 0.1em;
                            @include up-tbw {
                                font-size: fz(36);
                            }
                        }
                    }
                    .itemText {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin-top: 1em;
                        p {
                            font-size: fs-fluid(16);
                            line-height: 2em;
                        }
                    }
                }
                &:first-of-type {
                    padding-top: 8em;
                    background: linear-gradient(
                        180deg,
                        rgb(245 239 233 / 80%) 0%,
                        rgb(255 255 255 / 80%) 100%
                    );
                    @include up-tb {
                        padding-top: 6rem;
                    }
                    .itemH2 {
                        margin-bottom: 3em;
                        @include item-h2;
                        @include up-tb {
                            grid-column: span 2;
                        }
                    }
                }
                &:not(:first-of-type) {
                    padding-top: 10em;
                    margin-top: -6em;
                    background: linear-gradient(
                        180deg,
                        rgb(245 239 233 / 80%) 0%,
                        rgb(255 255 255 / 80%) 100%
                    );
                    @include up-tb {
                        padding-top: 10rem;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        translate: -50%;
                        top: -4rem;
                        display: block;
                        width: 3px;
                        height: 3px;
                        background-color: #6a5140;
                        border-radius: 50%;
                        box-shadow:
                            0 8px 0 #6a5140,
                            0 16px 0 #6a5140,
                            0 24px 0 #6a5140,
                            0 32px 0 #6a5140,
                            0 40px 0 #6a5140,
                            0 48px 0 #6a5140,
                            0 56px 0 #6a5140,
                            0 64px 0 #6a5140,
                            0 72px 0 #6a5140,
                            0 80px 0 #6a5140;
                    }
                }
                &:last-of-type {
                    @include up-tb {
                        padding-bottom: 10rem;
                    }
                }
            }
        }
    }
    .blockProductLinkCard {
        display: flex;
        flex-direction: column;
        color: $main-blown;
        padding: 0 $mobile-padding;
        margin-top: 8em;
        margin-bottom: 5em;
        @include up-tb {
            margin-top: 8rem;
            margin-bottom: 3rem;
        }
        a {
            background-color: $pure-white;
            box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
            border-radius: 1rem;
            padding: 1rem;
            width: 60vw;
            align-self: center;
            position: relative;
            @include up-tb {
                width: 100%;
                max-width: 56rem;
                display: flex;
            }
            img {
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 1rem;
                @include up-tb {
                    max-width: 145px;
                }
            }
            p {
                color: $pure-white;
                position: absolute;
                left: 50%;
                translate: -50%;
                z-index: 1;
                bottom: 1rem;
                font-size: fs-fluid(16);
                font-weight: 600;
                width: calc(100% - 2rem);
                text-align: center;
                @include serif;
                padding-top: 4rem;
                padding-bottom: 1.6rem;
                background: linear-gradient(
                    180deg,
                    rgb(99 70 40 / 0%) 34.68%,
                    rgb(99 70 40 / 85%) 100%
                );
                @include up-tb {
                    position: relative;
                    left: unset;
                    translate: unset;
                    bottom: unset;
                    background: unset;
                    color: $main-blown;
                    width: unset;
                    padding: unset;
                    place-self: center center;
                    flex: 1;
                    font-size: fz(24);
                }
            }
        }
    }
    .boxStoreLink {
        font-size: inherit;
        position: relative;
        margin-inline: auto;
        width: 100%;
        padding-inline: $mobile-padding;
        @include up-tb {
            width: 100%;
            max-width: 56rem;
            padding: 0;
        }
    }
}
