@use "../../styles/foundation/" as *;
/* =======================================
 * 熊日すぱいす ROOTS RootsFooter スタイル
 * URL: /src/components/roots/RootsFooter.module.scss
 * Referenced in: /src/components/roots/RootsFooter.tsx
 * Created: 2026-05-02
 * Last updated: 2026-05-28
 * ======================================= */
.rootsFooter {
    display: flex;
    flex-direction: column;
    color: $main-blown;
    padding: 4em $mobile-padding 3em;
    gap: 2em 0;
    @include up-tb {
        align-items: center;
    }
    article {
        font-size: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 4vw;
        @include up-tb {
            max-width: 80rem;
        }
        .itemLogo {
            width: 20vw;
            @include up-tb {
                max-width: 13rem;
            }
            img {
                width: 100%;
            }
        }
        .linkSpice {
            flex: 1;
            align-self: center;
            translate: 0 -10%;
            @include up-tb {
                max-width: 39rem;
                flex: unset;
            }
            img {
                width: 100%;
            }
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            align-items: center;
            gap: 0 1em;
            padding-left: 1em;
            @include up-tb {
                padding-left: 2em;
            }
            h3 {
                @include cormorant;
                text-transform: uppercase;
                @include sp {
                    display: none;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 0;
                height: calc(100% + 1em);
                width: 1px;
                background-color: $pure-black;
            }
            .snsInsta {
                width: 7vw;
                @include up-tb {
                    max-width: 3.2rem;
                }
                svg {
                    aspect-ratio: 1;
                    fill: $pure-black;
                }
            }
            // .snsX {
            //     width: 6vw;
            //     @include up-tb {
            //         max-width: 2.6rem;
            //     }
            //     svg {
            //         aspect-ratio: 472/483;
            //         fill: $pure-black;
            //     }
            // }
        }
    }
    .copy {
        font-size: fs-fluid(10);
        font-weight: 300;
        color: #7c5c3a;
        @include up-tb {
            font-size: fz(18);
            letter-spacing: 0.2em;
        }
    }
}
